{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>This is title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head> 
                <!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
        
                        
        <script src = "{% static 'js/jquery.js' %}"></script>
        <script src ="{% static 'js/bootstrap.min.js' %}" ></script> 
    </body>
</html>
